@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    height: 100vh;
}


.img1 {
    width: 50vw;
    height: 100vh;
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.login {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.login-container {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.lembrar-me {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.lembrar-me input {
    cursor: pointer;
}

.esqueci-senha {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.esqueci-senha:hover {
    text-decoration: underline;
}

.entrar {
    width: 100%;
    padding: 10px;
    background-color: #1e334a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.entrar:hover {
    background-color: #000000;
}